*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
th{
    background-color: blue;
   border-radius: 80px;
   font-size: 40px;
   height:25px;
   width: 70%;
}
table{
display: flex;
justify-content: center;
align-items: center;
margin:90px;
gap: 20px;
}
td{
  background-color: aquamarine;
  border-radius:60px;
  font-size:30px;
}